@tailwind base;
@tailwind components;
@tailwind utilities;

.vignette-container {
  position: relative;
  overflow: hidden;
}

.vignette-container::before,
.vignette-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%;
  pointer-events: none;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}
.vignette-container::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}
.vignette-container::before {
  left: 0;
}

.vignette-container::after {
  right: 0;
}
